/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Inter;
}

:root {
  --secondary-dark: #363C4D;
  --secondary-dark-highlight: #525A71;
  --secondary-dark-hover: #8890A5;
}